# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.DamnGame.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Admin\Documents\GitHub\DamnGame\.idea\.idea.DamnGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
