/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ocalCache/
/[Aa]ssetBundles/
/[Aa]ssets/[Bb]uildReport/
/[Aa]ssets/[Bb]uildReports/
/[Aa]ssets/[Ss]treamingAssets/[Bb]undles/
/[Aa]ssets/[Ss]treamingAssets/
/[Aa]ssets/[Aa]ddressableAssetsData/[Tt]empCatalogFolder/
/[Ss]witchIL2CPPCache/
/[Ss]witchIL2CPPStats/
/[Mm]emoryCaptures/
/[Pp]ackages/
/[Rr]ecordings/
Demo/
.vs/
Example/
Examples/
Doc/
Docs/
.idea/

*.cache
*.pdf
*.rtf
*.csproj
*.pidb
*.sln
*.unityproj
*.userprefs
*.suo
*.user
*.booproj
*.StyleCop
*.DotSettings
.~*
.DS_Store
Thumbs.db*
build.log
Bundles.meta
StyleCop.Cache
ProjectSettings/ProjectVersion.txt
BuildReports.meta
Demo.meta
Example.meta
Examples.meta
Doc.meta
Docs.meta
*readme*
StreamingAssets.meta
Assets/AddressableAssetsData/AnalyzeData/AnalyzeRuleData.asset
Assets/AddressableAssetsData/AnalyzeData/AnalyzeRuleData.asset.meta
Assets/AddressableAssetsData/AnalyzeData.meta
Assets/AddressableAssetsData/Windows.meta
Assets/AddressableAssetsData/WebGL.meta
Assets/AddressableAssetsData/MacOS.meta
addressables_content_state.bin
addressables_content_state.bin.meta
Assets/Editor/DebugSettings.asset
Assets/Editor/DebugSettings.asset.meta
Assets/AddressableAssetsData/TempCatalogFolder.meta
